<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>夜留香 ｜ 归档</title>
    <link type="text/css" rel="stylesheet" href="/css/personalpage.css">
</head>
<body style="padding-top: 0px;">
    <div class="warpper">
        <div class="container">
            <div class="left-side">
                <div class="left-top-name">
                    <span class="name-info">
                        夜留香
                    </span>
                    <span class="write-info">
                        往事如风，一切安好
                    </span>
                </div>

                <div class="left-center-type">

                </div>

                <div class="left-bottom-info">

                </div>
            </div>

            <div class="right-side">

            </div>
        </div>
    </div>
</body>
</html>