<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>夜留香 ｜ 归档</title>
    <link type="text/css" rel="stylesheet" href="/css/personalpage.css">
</head>
<body style="padding-top: 0px;">
    <div class="warpper">
        <div class="container">
            <div class="left-side">
                <!--左上标题内容-->
                <div class="left-top-name">
                    <span class="name-info">
                        夜留香
                    </span>
                    <span class="write-info">
                        往事如风，一切安好
                    </span>
                </div>
                <!--左中分类内容-->
                <div class="left-center-type">
                    <nav class="site-nav">
                        <ul id="menu" class="menu">
                            <li class="menu-item menu-item-home">
                                <a href="/" rel="section">
                                    <i class="menu-item-icon fa fa-fw fa-home">
                                    </i>
                                    首页
                                </a>
                            </li>
                            <li class="menu-item menu-item-home">
                                <a href="/" rel="section">
                                    <i class="menu-item-icon fa fa-fw fa-th">
                                    </i>
                                    分类
                                </a>
                            </li>
                            <li class="menu-item menu-item-home">
                                <a href="/" rel="section">
                                    <i class="menu-item-icon fa fa-fw fa-home">
                                    </i>
                                    归档
                                </a>
                            </li>
                            <li class="menu-item menu-item-home">
                                <a href="/" rel="section">
                                    <i class="menu-item-icon fa fa-fw fa-home">
                                    </i>
                                    标签
                                </a>
                            </li>
                            <li class="menu-item menu-item-home">
                                <a href="/" rel="section">
                                    <i class="menu-item-icon fa fa-fw fa-home">
                                    </i>
                                    关于
                                </a>
                            </li>
                            <li class="menu-item menu-item-home">
                                <a href="/" rel="section">
                                    <i class="menu-item-icon fa fa-fw fa-home">
                                    </i>
                                    搜索
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--左下目录框内容-->
                <div class="left-bottom-info">
                    <!--个人联系方式-微信-->
                    <div class="connect_message">
                        <span class="info_message">夜留香的微信号</span>
                        <img class="picture_message" src="../images/gongzhonghao.jpg" alt="">
                    </div>
                    <!--个人联系方式-公众号-->
                    <div class="connect_message">
                        <span class="info_message">夜留香的微信公众号</span>
                        <img class="picture_message" src="../images/gongzhonghao.jpg" alt="">
                    </div>
                </div>

                <div class="left-bottom-message">
                    <ul class="side-bar-nav">
                        <li class="side-bar-toc">最新更新</li>
                        <li class="side-bar-overflow">站点概览</li>
                    </ul>
                </div>

            </div>

            <div class="right-side">

            </div>
        </div>
    </div>
</body>
</html>